.popup__add-product_text {
    font-family: Gilroy, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #23c967;
    margin: 0 5.37px 0 0;
}