.popup__text-adding-products {
    font-family: Gilroy, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #1c154e;
    margin: 0 0 12px 0;
}