.checkbox__safe {
    font-family: Gilroy, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #a7a2cb;
    margin: 0 0 0 12px;
}